name: Sync Static Branch

on:
  push:
    branches:
      - static

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout picbed repository
        uses: actions/checkout@v2

      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.ID_RSA_FOR_CODE_SYNC_IN_GITHUB }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Clone notes repository
        run: git clone --branch static git@github.com:missuor/notes.git

      - name: Sync static branch
        run: |
          cd notes
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git checkout -b static || git checkout static
          git add .
          git commit -m "Sync static branch from picbed"
          git push origin static
